@media (min-width: 1200px) {
  .bigpicture-container {
    height: calc(100vh - 150px);
    margin-top: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .bigpicture-img {
    background: url(../../img/big.png) center no-repeat;
    background-size: cover;
    height: calc(100vh - 150px);
    width: 70%;
    float: left;
  }
  .bigpicture-text {
    float: left;
    color: white;
    font-size: 50px;
    text-align: center;
    height: calc(100vh - 150px);
    line-height: calc((100vh - 150px)/3);
    width: 30%;
  }
  .bigpicture-text div {
    height: calc((100vh - 150px)/3);
  }
}

@media (max-width: 500px) {
  .bigpicture-container {
    height: 85vh;
    margin-top: 5vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .bigpicture-img {
    background: url(../../img/big.png) center no-repeat;
    background-size: contain;
    height: 70vh;
    width: 100%;
  }
  .bigpicture-text div{
    float: left;
    color: white;
    font-size: 1em;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 33%;
  }
  .bigpicture-text div {
    height: 40px;
  }
}
@media (min-width: 501px) and (max-width: 1199px) {
  .bigpicture-container {
    height: 85vh;
    margin-top: 5vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
  .bigpicture-img {
    background: url(../../img/big.png) center no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100%;
  }
  .bigpicture-text div{
    float: left;
    color: white;
    font-size: 1em;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 33%;
  }
  .bigpicture-text div {
    height: 40px;
  }
}