.cardinfo-container {
    height: calc(100vh - 150px);
    margin-top: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white; 
    font-size: 1em; 
}
.cardinfo-container p {
    padding: 10px;
}
.cardinfo-container div{
    width: 400px;
    height: 50vh;
    background-size: cover;
    margin: 0 auto;  	
    background-repeat: no-repeat;
}