#page-numbers {
  width: 80%;
  float: left;
  list-style: none;
  display: flex;
  text-align: center;
  padding-left: 20px;
}

#page-numbers > li {
  font-size: 2em;
  margin-right: 1em;
  color: white;
  user-select: none;
  cursor: pointer;
}

.activePage {
  color: #009900!important;
}