@media (min-width: 1200px) { 
    .portfolio-container {
        height: calc(100vh - 150px);
        margin-top: 50px;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        color: white; 
    }
    .portfolio-title {
        padding-top: 20px; 
        font-size: 40px;
    }
    .portfolio-onmiddle {
        padding-top: 40px; 
        width: 1200px;
        margin: 0 auto;
    }    
}